* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MedievalSharp", serif;
}

:root {
    font-size: 62.5%;
    --shadow-color: rgba(0, 0, 0, 0.4);
    --shadow: 0px 8px 8px var(--shadow-color);
    --x-color: #00ADB5;
    --o-color: #F2B138;
    --primary-color: #a9bec8;
    --bg-color: #1a2b33;
    --secondary-color: #1e3640;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--primary-color);
}

/* header */
.header {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-size: 2.4rem;
    background-color: var(--secondary-color);
    z-index: 100;
    box-shadow: 0px 4px 4px var(--shadow-color);
}

/* dialog */
dialog {
    height: 400px;
    margin: auto;
    border-radius: 5px;
    border: none;
    box-shadow: var(--shadow);
    padding: 30px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.start-screen form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-size: 2rem;
}

.start-screen form h2 {
    margin-bottom: 20px;
}

.start-screen form input {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: var(--shadow);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 2rem;
}

.start-screen button {
    margin-top: 30px;
    padding: 10px;
}

/* end screen dialog */
.end-screen {
    height: 200px;
    width: 300px;
}

.end-screen .game-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    align-items: center;
    gap: 30px;
    font-size: 2rem;
}

.end-screen .ok {
    width: 30%;
    padding: 10px;
}

::backdrop {
    backdrop-filter: blur(5px);
}

/* main */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex: 1;
    padding: 30px;
}

/* info */

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 50px;
    gap: 50px;
}

button {
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 2rem;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    transition: all 0.2s ease-in-out;
    height: 100%;
    font-weight: bold;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(1);
    }
}

.turn {
    background-color: var(--secondary-color);
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 5px;
    box-shadow: var(--shadow);
    padding: 0px 30px;
}

/* board */

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 20px;
    padding: 10px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: transform 0.2s ease-out;
    
    &:active {
        transform: scale(0.9);
    }
}

/* result */

.result {
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 20px;
}

.player1, .draw, .player2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    height: 80px;
    width: 200px;
    color: var(--secondary-color);
    font-weight: bold;
}

.turn-x {
    background-color: var(--x-color);
}

.turn-o {
    background-color: var(--o-color);
}

.draw {
    background-color: var(--primary-color);
}

.X {
    background: url(./assets/sword-cross.svg);
}

.O {
    background: url(./assets/shield.svg);
}

.X, .O {
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
}